* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(190, 6, 227), rgb(7, 69, 95));
    padding: 10px;
}

.todo {
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 70px 100px 70px;
}

.todo h1 {
    color: rgb(6, 90, 142);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* Styles for Input and Button - Consistent Across All Screen Sizes */
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(imgs/uncheck.jpeg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(imgs/check.jpeg);
}

ul li span {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background: #ff5945;
    border-radius: 50%;
}

/* Media queries for responsiveness */

@media screen and (max-width: 768px) {
    .container {
        padding: 5px;
    }

    .todo {
        padding: 70px 20px 70px;
    }

    .todo h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    .todo {
        padding: 70px 10px 70px;
    }

    .todo h1 {
        font-size: 24px;
    }

    .row {
        padding-left: 10px;
    }
}
